/.idea/
xcuserdata/
/.vscode/
/buildServer.json
WorkspaceSettings.xcsettings
IDEWorkspaceChecks.plist
/node_modules/
/DerivedData/
/build/
.DS_Store
/docs/_site/
/docs/vendor/
codesign.conf
codesign.crt
codesign.key
codesign.p12
