<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string></string>
	<key>AppCenterApplicationForwarderEnabled</key>
	<string>0</string>
	<key>AppCenterSecret</key>
	<string>#APPCENTER_SECRET#</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>#VERSION#</string>
	<key>CFBundleVersion</key>
	<string>#VERSION#</string>
	<key>FeedbackToken</key>
	<string>#FEEDBACK_TOKEN#</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<string>true</string>
	<key>NSHumanReadableCopyright</key>
	<string>GPL-3.0 licence</string>
	<key>NSPrincipalClass</key>
	<string>AppCenterApplication</string>
	<key>NSSupportsAutomaticTermination</key>
	<string>false</string>
	<key>NSSupportsSuddenTermination</key>
	<string>false</string>
	<key>SUEnableAutomaticChecks</key>
	<string>true</string>
	<key>SUEnableJavaScript</key>
	<string>true</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/lwouis/alt-tab-macos/master/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>2e9SQOBoaKElchSa/4QDli/nvYkyuDNfynfzBF6vJK4=</string>
	<key>SUScheduledCheckInterval</key>
	<string>604800</string>
</dict>
</plist>
